<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.firstname %>,</h1>
    <p>
      Your account has been deleted from our website.<br>
    </p>
    <p>We will miss you!</p>
  </body>
</html>